<Configure>
  <simulation_quality>Very Low</simulation_quality>
  <fps>60</fps>
  <width>640</width>
  <height>480</height>
  <fullscreen>false</fullscreen>
  <ip_address>127.0.0.1</ip_address>
  <port>12375</port>
  <path_prob_folder>Config</path_prob_folder>
  <path_work_dir>simDRLSR/pyMDQN/</path_work_dir>
  <total_steps>10000</total_steps>
</Configure>
